name: CI
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  test:
    name: Small test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
          aqua_opts: ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          cat > ./e2e/manifests/website/.ssh/id_rsa <<EOF
          ${{ secrets.DEPLOY_KEY }}
          EOF
      - run: chmod 0600 ./e2e/manifests/website/.ssh/id_rsa
      - run: make test
  e2e:
    name: End-to-end Test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        k8s-version:
          - v1.31.12 # renovate: kindest/node
          - v1.32.8 # renovate: kindest/node
          - v1.33.4 # renovate: kindest/node
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: ./ui/frontend/pnpm-lock.yaml
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
          aqua_opts: ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          cat > ./e2e/manifests/website/.ssh/id_rsa <<EOF
          ${{ secrets.DEPLOY_KEY }}
          EOF
      - run: chmod 0600 ./e2e/manifests/website/.ssh/id_rsa
      - run: make test KUBERNETES_VERSION=${{ matrix.k8s-version }}
        id: run_e2e_test
        working-directory: e2e
      - if: failure() && steps.run_e2e_test.outcome == 'failure'
        run: |
          kubectl get pod
          kubectl describe pod
  check-e2e-test:
    name: All e2e tests passed
    runs-on: ubuntu-latest
    needs: e2e
    steps:
      - run: echo ok
  check-goreleaser-config:
    name: Check goreleaser.yml
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: v2.3.2
          args: check -f .goreleaser.yml
  tilt:
    name: Run tilt ci
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: ./ui/frontend/pnpm-lock.yaml
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
          aqua_opts: ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: make dev
      - run: tilt ci
  dry-run:
    name: Dry-run release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: ./ui/frontend/pnpm-lock.yaml
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
          aqua_opts: ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup tag for goreleaser
        run: |
          echo "GORELEASER_CURRENT_TAG=$(git describe --tags --abbrev=0 --match "v*" || echo v0.0.0)" >> $GITHUB_ENV
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: v2.3.2
          args: --snapshot --skip=publish --clean
